@import "tailwindcss";

@theme {
    --font-display: 'Poppins', sans-serif;
    --font-body: 'Open-sans', sans-serif;

    --color-theme-dark-blue: #3b2086;
    --color-theme-dark-green: #6fc583;
    --color-theme-light-green: #d2f0b6;
    --color-theme-brown: #686963;
    --color-theme-grey-green: #D3E5CE;
    --color-theme-dark-brown: #39241C;
}

body {
    @apply bg-neutral-800 text-neutral-100;
    @apply p-4;
    font-family: var(--font-body);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-display);
}

.bg-gradient-silicon {
    @apply from-theme-dark-blue via-theme-dark-green to-theme-light-green;
}

.light-pill {
    @apply bg-theme-light-green text-theme-dark-blue 
    rounded-3xl shadow-lg shadow-cyan-200/20;
}

.dark-pill {
    @apply bg-theme-dark-blue text-theme-light-green 
    rounded-3xl shadow-lg shadow-cyan-200/20 ;
}