---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import PhotoWall from "../components/PhotoWall.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import BentoPlaceholder from "../components/BentoPlaceholder.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const {
  title = "Néstor Oubiña Arriaga",
  description = "Cloud Engineer & Photographer",
} = Astro.props;

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout title={title}>
  <div class="flex flex-col lg:grid grid-cols-5 grid-rows-5 gap-4">
    <div class="col-span-5 row-span-2">
      <Hero title={title} description={description} />
    </div>
    <div class="col-span-3 row-span-2 row-start-3">
      <BentoPlaceholder />
    </div>
    <div class="col-span-2 row-span-2 col-start-4 row-start-3">
      <BentoPlaceholder />
    </div>
    <div class="col-span-3 row-span-1"><Contact /></div>
    <div class="col-span-2 row-span-5 col-start-4"><Footer /></div>
  </div>
</Layout>
