---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import PhotoWall from "../components/PhotoWall.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import BentoPlaceholder from "../components/BentoPlaceholder.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const {
  title = "Néstor Oubiña Arriaga",
  description = "Cloud Engineer & Photographer",
} = Astro.props;
---

<Layout title={title}>
  <Header title={title} description={description} />
  <div class="flex flex-col gap-4 flex-grow p-4 ">
    <div class="lg:grid grid-cols-5 grid-rows-1 gap-4 max-h-screen lg:max-h-[48rem]">
      <div class="col-span-3 row-span-1 overflow-hidden" id="photo-wall">
        <div class="h-full overflow-auto">
          <PhotoWall />
        </div>
      </div>
      <div class="col-span-2 row-span-1 col-start-4" id="gear">
        <BentoPlaceholder title="Gear" />
      </div>
    </div>
    <div class="lg:grid grid-cols-5 grid-rows-5 gap-4">
      <div class="col-span-5 row-span-1" id="projects">
        <BentoPlaceholder title="Projects" />
      </div>
      <div class="col-span-5 row-span-2" id="resume">
        <BentoPlaceholder title="Mini Resume" />
      </div>
      <div class="col-span-3 row-span-1 row-start-4" id="contact">
        <Contact />
      </div>
      <div class="col-span-2 row-span-1 col-start-4 row-start-4">
        <Footer />
      </div>
    </div>
  </div>
</Layout>
