<section class="p-4 dark-pill bg-neutral-500
    rounded-3xl shadow-lg shadow-cyan-200/20 overflow-hidden
    justify-center text-center flex flex-auto h-full">
    <h2 class="text-2xl font-bold">Coming soon...</h2>
</section>