---
import SocialButton from "./SocialButton.astro";

const socials = [
  {
    platform: "github",
    url: "https://github.com/nestoroa",
  },
  {
    platform: "linkedin",
    url: "https://www.linkedin.com/in/n%C3%A9stor-javier-oubi%C3%B1a-arriaga/",
  },
  {
    platform: "instagram",
    url: "https://www.instagram.com/nestoroa/",
  },
  {
    platform: "whatsapp",
    url: "https://wa.me/34618301004",
  },
];
---

<section class="p-4 light-pill overflow-hidden fill-white">
  <h1 class="text-2xl font-bold">Contact information</h1>
  <p>Néstor J. Oubiña Arriaga</p>
  <div class="flex justify-start">
    {
      socials.map(({ platform, url }) => (
        <SocialButton platform={platform} url={url} />
      ))
    }
  </div>
</section>
