<section class="p-4 dark-pill h-full
    rounded-3xl shadow-lg shadow-cyan-200/20 overflow-hidden">
    <p>NJOA 2025</p>
    <p>I did this with <a href="https://astro.build">Astro</a> and <a href="https://tailwindcss.com">Tailwind CSS</a></p>
</section>